.experience {
  padding: 10px 50px 0px 50px;
  background-color: #343a40;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: justify;
}

.experience h2 {
  margin-bottom: 20px;
}

.experience-item {
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  transition: box-shadow 0.3s, transform 0.3s; 
}

.experience-item:hover {
  box-shadow: 0px 5px 5px 0px #f39c12; 
  transform: translateY(-5px); 
  background-color: black;
  z-index: 1;
}

.experience-item h3 {
  margin-bottom: 5px;
}

.experience-item p {
  margin-bottom: 5px;
}

.experience-item ul {
  padding-left: 20px;
}

.experience-item li {
  margin-bottom: 5px;
}

.skill-button {
  display: inline-block;
  padding: 5px 3px;
  margin-right: 5px;
  background-color: #f39c12;
  color:black;
  border-radius: 5px;
  font-size: 12px;
}

.skills {
  margin-top: 15px;
}

.experience-item .skills span {
  margin-right: 5px;
}
