/* src/components/LeftSection.css */
.left-section {
  background-color: #212529;
  color: #ffffff;
  padding: 0px 20px 0px 20px; 
  text-align: center;
  height: 100vh;
  width: 100%; 
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .left-section {
    padding: 0px 50px 0px 50px; 
    width: 30%;
  }
}

.section-links {
  margin-top: 10px;
}

.bar-sign {
  color: #6c757d;
  margin-right: 5px;
}

.section-links a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.section-links a:hover {
  color: #ffc107;
}

.footer {
  margin: 15px;
}

.social_site {
  padding-right: 2px;
  font-size: 35px;
}

.footer a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}
